<div class="main-content">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card border-0 shadow rounded-3 my-5">
                <div class="card-body p-4 p-sm-5 authBlock">
                    <h5 class="card-title text-center mb-5 fw-light fs-5">Reset Password</h5>
                    <form>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com"
                                #passwordResetEmail required>
                            <label for="floatingInput">Email address</label>
                        </div>

                        <div class="d-grid">
                            <input type="button" value="Reset Password"
                                class="btn btn-primary btn-login text-uppercase fw-bold"
                                (click)="authService.ForgotPassword(passwordResetEmail.value)">
                        </div>
                        <hr class="my-4">
                        <div class="d-grid mb-2">
                            <button class="btn btn-link btn-login text-uppercase fw-bold" routerLink="/sign-in">
                                Log in
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>